@{
    ViewBag.Title = "Blog";
}

<head>
    <meta charset="utf-8">
    <title> Блог </title>
    <link  type="text/css" rel="stylesheet" href="../../Content/Profile.css" />
</head>

<body>
    <header>
        <div class="toolbar">
            <div class="toolbarItem">
                <a href="~/Home/Index">Главная</a>
                <a href="#">Блог</a>
                <a href="#">Контакты</a>
                <a href="~/Home/LoginView">Вход</a>
            </div>
        </div>
        <div class="profile">
            <div class="profileIMG"> </div>
            <div class="profileDescription">
                <h3> Имя Фамилия</h3>
                <p> Информация о себе</p>
            </div>
            <div class="contacts"> значки приложений  </div>
            <a class="button" href="/Home/CreateArticle"> + </a>
        </div>
    </header>

    <main>
        <div>
            @foreach (var b in ViewBag.Articles)
            {
                  <div class="post">
                      <h2> @b.Name </h2>
                      <p> @b.Content </p>
                      <a href="/Home/EditArticle/@b.Id"> Редактировать </a>
                      <a href="/Home/ReadArticle/@b.Id"> Читать далее... </a>
                  </div>
            }
        </div>
    </main>
</body>